body{
	font-family: "Times New Roman", Helvetica, sans-serif;
}

main{ margin-top:0px;
			 margin-left: 150px;
			 margin-right: 150px;

			 padding: 10px 100px 10px 100px;

			 border-radius: 0 0 0 20px;
			 background-color: LightGray;

			 text-align: left;
}


h1 {text-align: left;
font-size: 64px;
margin-bottom: 5px;
text-shadow: 1px 1px 1px #eee;
}

h2 {font-size:32px;
margin-bottom:-10px;
}

p, li {font-size: 20px;
}

h3{
margin: 10px 25px 2px 25px;
}



header{
padding: 5px 0px 5px 0;
margin: 2px 150px 0px 150px;
border: 0 0 0 2px;
border-radius: 0 20px 0 0;
background-color: rgba(0, 90, 160, 0.95)
}
header h3{
	float: right;
	display: inline;

}

img{
	float: right;
	transform: scale(0.6);
	opacity: 0.75;
}
